body {
    background-color: #f3f4f7;
    font-family: Arial, Helvetica, sans-serif
}

.login, .register {
    width: 400px;
    background-color: white;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 100px auto;
}

.login h1, .register h1 {
    text-align: center;
    color: #5b6574;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4; 
}

.login .selection, .register .selection {
    display: flex;
    padding: 0 15px;
}

.login .selection a, .register .selection a {
    color: #adb2ba;
    text-decoration: none;
    display: inline-flex;
    padding: 0 10px 10px 10px;
    font-weight: bold;
}

.login .selection a:hover, .register .selection a:hover {
    color: #9da3ac;
}

.login .selection a.active, .register .selection a.active {
    border-bottom: 3px solid #8933da;
    color: #8933da;
}

.login form, .register form {
    display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
  	padding-top: 20px;
}

.login form label, .register form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #8933da;
    color: #ffffff;
}

.login form input[type="password"], .login form input[type="text"], .register form input[type="password"], .register form input[type="text"] {
    width: 310px;
    height: 48px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}

.login form input[type="submit"], .register form input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: #8933da;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}

.login form input[type="submit"]:hover, .register form input[type="submit"]:hover {
    background-color: #6e2aad;
    transition: background-color 0.2s;
}

.navtop {
    background-color: #2f3947;
    height: 60px;
    width: 100%;
    border: 0;
    align-items: center;
}
.navtop div {
    display: flex;
    width: 100%;
    height: 100%;
}
.navtop div h1, .navtop div a {
    display: inline-flex;
    align-items: center;
}
.navtop div h1 {
    flex: 1;
    font-size: 24px;
    padding: 0;
    margin-left: 15px;
    float: left;
    color: #eaebed;
    font-weight: normal;
}
.navtop div a {
    padding: 0 20px;
    margin-right: 10px;
    text-decoration: none;
    color: #c1c4c8;
    float: right;
    font-weight: bold;
}
.navtop div a i {
    padding: 2px 8px 0 0;
}
.navtop div a:hover {
    color: #eaebed;
}

.container {
    height: 100%;
    width: 100%;
    align-items: center;
}

.control {
    height: 40px;
    width: 100%;
    align-items: center;
    border-bottom: 3px solid #2f3947;
}

.control a {
    padding: 0 20px;
    margin-top: 5px;
    margin-right: 10px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    float: right;
    font-weight: bold;
    color: #000000;
}

.control a i {
    padding: 2px 6px 2px 2px;
}

.tasks {
    height: 700px;
    width: 100%;
    overflow: auto;
    background-color: #ffffff;
    
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}

.note {
    height: 250px;
    width: 250px;
    margin-top: 30px;
    margin-left: 30px;
    overflow: auto;
    background-color: #fffd88;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.note-title-container {
    display: flex;
    height: auto;
    width: 100%;
    align-items: center;
    border-bottom: 2px solid #2f3947;
}

.note-title {
    height: 30px;
    flex: 1;
    font-size: 24px;
    margin: 5px;
    float: left;
    color: #000000;
    font-weight: normal;
}

.note-createTime, .note-createDate {
    height: auto;
    width: auto;
    font-size: 12px;
    margin-right: 5px;
    vertical-align: bottom;
    align-self: flex-end;
    float: right;
    color: #000000;
    font-weight: normal;
}

.note-content {
    height: auto;
    width: auto;
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #252525;
    font-weight: normal;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}


.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 0.5em;
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}


.close {
    color: rgb(0, 0, 0);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: rgb(255, 0, 0);
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #fefefe;
    color: #5b6574;
    border-bottom: 2px solid black;
}

.modal-header h2 {
    color: #5b6574;
    font-size: 24px;
    padding: 0px 0 0px 0;
    margin: 10px 0px 10px 0px;
}

.modal-body {
    padding: 2px 16px;
    margin-top: 20px;

    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(1, 1fr);
}

.modal-footer {
    padding: 2px 16px;
    background-color: #fefefe;
    margin-top: 15px;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);

    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}

.modal-body input[type="text"], .modal-body input[type="time"], .modal-body input[type="date"] {
    width: auto;
    height: 40px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
    border-radius: 0.4em;
}

.modal-body label {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    width: 40px;
    height: auto;
    /* background-color: #adadad; */
    color: #000000;
}

.update-btn, .delete-btn, .create-btn {
    width: auto;
    height: 20px;
    padding: 15px;
    margin-top: 20px;
    border-radius: 0.4em;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
    justify-content: center;
    align-items: center;
}

.update-btn {
    background-color: #d68f25;
}

.delete-btn {
    background-color: #e95f5f;
}

.create-btn {
    background-color: #57a754;
}

.update-btn > span, .delete-btn > span, .create-btn > span {
    display: flex;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}

.update-btn:hover, .delete-btn:hover, .create-btn:hover {
    transition: background-color 0.2s;
}

.update-btn:hover {
    background-color: #99671b;
}

.delete-btn:hover {
    background-color: #9c4141;
}

.create-btn:hover {
    background-color: #356434;
}