<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>TODO Manager</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <div class="login" id="login" class="login-container">
            <h1>Login</h1>
            <div class="selection">
                <a href="{{ url_for('login') }}" class="active">Login</a>
                <a href="{{ url_for('register') }}">Register</a>
            </div>
            <form action="{{ url_for('login') }}" method="post">
                <label for="userName"></label>
                <input type="text" name="userName" placeholder="Name..." id="userName" required />
                <label for="password"></label>
                <input type="password" name="password" placeholder="Password..." id="password" required />
                <div class="msg">{{ msg }}</div>
                <input type="submit" value="Login" />
            </form>
        </div>
    </body>
    
</html>